<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <side-bar :background-color="sidebarBackground" short-title="Argon" title="Argon">
      <template slot="links">
        <!-- <sidebar-item
          :link="{
            name: 'Dashboard',
            icon: 'ni ni-tv-2 text-primary',
            path: '/dashboard'
          }"
        />-->

        <!-- <sidebar-item :link="{name: 'Icons', icon: 'ni ni-planet text-blue', path: '/icons'}" /> -->
        <!-- <sidebar-item :link="{name: 'Maps', icon: 'ni ni-pin-3 text-orange', path: '/maps'}" /> -->
        <!-- <sidebar-item
          :link="{name: 'User Profile', icon: 'ni ni-single-02 text-yellow', path: '/profile'}"
        />-->

        <div v-for="(menu,index) in menuLink" :key="index">
          <sidebar-item
            :link="{name: `${menu.name}`, icon:`${menu.icon}`, path: `${menu.path}`}"
            v-if="priviledgeCheck(menu.priviledgeId)"
          />
        </div>

        <base-dropdown title="List of Reports" icon="ni ni-briefcase-24 text-warning">
          <sidebar-item
            :link="{name: 'Generate Report', icon: 'ni ni-folder-17 text-success', path: '/generateReport'}"
            class="dropdown-item"
          />
          <sidebar-item
            :link="{name: 'Generate Report1', icon: 'ni ni-folder-17 text-success', path: '/generateReport1'}"
            class="dropdown-item"
          />
        </base-dropdown>

        <!-- <sidebar-item
          :link="{name: 'Role Priviledges', icon: 'ni ni-building text-warning', path: '/rolePriviledges'}"
        />-->
        <!-- <sidebar-item :link="{name: 'Login', icon: 'ni ni-key-25 text-info', path: '/login'}" /> -->
        <!-- <sidebar-item :link="{name: 'Register', icon: 'ni ni-circle-08 text-pink', path: '/register'}"/> -->
      </template>
    </side-bar>
    <div class="main-content" :data="sidebarBackground">
      <dashboard-navbar></dashboard-navbar>

      <div @click="toggleSidebar">
        <fade-transition :duration="200" origin="center top" mode="out-in">
          <!-- your content here -->
          <router-view></router-view>
        </fade-transition>
        <!-- <content-footer v-if="!$route.meta.hideFooter"></content-footer> -->
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";
import DashboardNavbar from "./DashboardNavbar.vue";
// import ContentFooter from "./ContentFooter.vue";
import { FadeTransition } from "vue2-transitions";

export default {
  components: {
    DashboardNavbar,
    // ContentFooter,
    FadeTransition
  },
  data() {
    return {
      sidebarBackground: "vue", //vue|blue|orange|green|red|primary
      userRolePriviledges: "",
      menuLink: ""
    };
  },
  beforeRouteEnter(to, from, next) {
    // console.log("I am fetching Data");
    let userRoleId = JSON.parse(localStorage.getItem("user")).userRole;
    console.log(userRoleId);
    axios
      .get("http://localhost:3000/getRolePriviledges")
      .then(response => {
        let data = response.data;
        // console.log(data);
        axios.get("http://localhost:3000/getDashboardMenus").then(res => {
          let menus = res.data;
          next(vm => vm.setData(data, userRoleId, menus));
        });
      })
      .catch(err => {
        console.error(err);
      });
  },
  beforeRouteUpdate(to, from, next) {
    console.log("I am Updating Data");
    let userRoleId = JSON.parse(localStorage.getItem("user")).userRole;
    axios
      .get("http://localhost:3000/getRolePriviledges")
      .then(response => {
        let data = response.data;
        // console.log(data);
        axios.get("http://localhost:3000/getDashboardMenus").then(res => {
          let menus = res.data;
          this.setData(data, userRoleId, menus);
          next();
        });
      })
      .catch(err => {
        console.error(err);
      });
  },
  mounted() {
    console.log("I am Updating Data in the lifeHook");
    let userRoleId = JSON.parse(localStorage.getItem("user")).userRole;
    axios
      .get("http://localhost:3000/getRolePriviledges")
      .then(response => {
        let data = response.data;
        // console.log(data);
        axios.get("http://localhost:3000/getDashboardMenus").then(res => {
          let menus = res.data;
          this.setData(data, userRoleId, menus);
        });
      })
      .catch(err => {
        console.error(err);
      });
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    },
    setData(res, roleId, menus) {
      console.log("I got in here to set Data");
      this.userRolePriviledges = res.filter(item => {
        return item.roleId == roleId;
      });
      // console.log(this.userRolePriviledges);
      this.menuLink = menus;
    },
    priviledgeCheck(id) {
      console.log(`A call to set menu`, this.globalUserPriviledges);
      console.log("again and again!!!!");
      let arrayCheck = this.userRolePriviledges.filter(item => {
        return item.priviledgeId == id && item.status == "active";
      });
      console.log(arrayCheck);
      let menuVerdict = arrayCheck.length > 0 ? true : false;
      console.log(menuVerdict);
      return menuVerdict;
    }
  }
};
</script>
<style lang="scss">
</style>
