<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8"></base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <card shadow type="secondary">
            <div slot="header" class="bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Setup a new user</h3>
                </div>
              </div>
            </div>
            <template>
              <form @submit.prevent>
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <base-input
                        alternative
                        label="First Name"
                        placeholder="First Name"
                        input-classes="form-control-alternative"
                        v-model="firstName"
                        required
                      />
                    </div>
                    <div class="col-lg-6">
                      <base-input
                        alternative
                        label="Last Name"
                        placeholder="Last Name"
                        input-classes="form-control-alternative"
                        v-model="lastName"
                        required
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <base-input
                        alternative
                        label="E-mail"
                        placeholder="user@example.com"
                        input-classes="form-control-alternative"
                        v-model="email"
                        required
                      />
                    </div>
                    <div class="col-lg-6">
                      <base-input
                        alternative
                        label="Password"
                        placeholder="Password"
                        type="password"
                        input-classes="form-control-alternative"
                        v-model="password"
                        required
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <p class="form-control-label mb-1">User Role</p>
                      <div v-for="(item, index) in rolesList" :key="index">
                        <base-radio
                          :name="item.id"
                          class="m-3 text-capitalize d-inline"
                          v-model="userRole"
                          v-if="showRoleByPriviledge(item.roleName)"
                        >{{item.roleName}}</base-radio>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted">Authenticate yourself and submit</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-6">
                      <base-input
                        alternative
                        label="Admin, Enter your password"
                        type="password"
                        placeholder="Password"
                        input-classes="form-control-alternative"
                        v-model="adminPassword"
                        @input="handleAuthentication"
                        required
                      />
                    </div>
                    <div class="col-md-6">
                      <badge :type="feedbackType" class="mt-5" v-if="feedback">
                        <strong>{{feedbackMessage}}</strong>
                      </badge>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <base-button size="lg" id="submitButton" disabled @click="handleSubmit">Submit</base-button>
                    </div>
                  </div>
                </div>
              </form>
            </template>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { setTimeout } from "timers";
/* eslint-disable */
export default {
  name: "createUser",
  data() {
    return {
      firstName: "",
      lastName: "",
      email: "",
      password: "",
      userRole: "3",
      adminPassword: "",
      adminEmail: "",
      feedback: false,
      feedbackMessage: "",
      feedbackType: "",
      rolesList: ""
    };
  },
  methods: {
    showRoleByPriviledge(roleName) {
      let objUser = this.globalUserPriviledges.find(
        o => o.priviledge === "createUser"
      );
      let objAdmin = this.globalUserPriviledges.find(
        o => o.priviledge === "createAdmin"
      );

      if (roleName === "admin" && objAdmin) {
        return true;
      } else if (roleName === "admin" && !objAdmin) {
        return false;
      } else if (roleName === "user" && objUser) {
        return true;
      } else if (roleName === "user" && !objUser) {
        return false;
      } else if (roleName === "superAdmin") {
        return false;
      } else {
        return true;
      }
    },
    fetchRolesList() {
      this.$http
        .get("http://localhost:3000/getRoles")
        .then(response => {
          console.log(response.data);
          this.rolesList = response.data;
        })
        .catch(err => {
          console.error(err);
        });
    },
    handleAuthentication() {
      if (this.adminPassword.length > 0) {
        this.adminEmail = JSON.parse(localStorage.getItem("user")).email;
        this.feedback = true;
        this.feedbackType = "danger";
        this.feedbackMessage = "Error! Password Incorrect";
        this.$http
          .post("http://localhost:3000/authenticateAdmin", {
            email: this.adminEmail,
            password: this.adminPassword
          })
          .then(() => {
            this.feedback = true;
            this.feedbackType = "success";
            this.feedbackMessage = "Success! Admin Authenticated";
            document.querySelector("#submitButton").removeAttribute("disabled");
          })
          .catch(() => {
            document
              .querySelector("#submitButton")
              .setAttribute("disabled", "true");
          });
      } else {
        this.feedback = false;
        this.feedbackType = "";
        this.feedbackMessage = "";
        document
          .querySelector("#submitButton")
          .setAttribute("disabled", "true");
      }
    },
    handleSubmit() {
      this.$http
        .post("http://localhost:3000/registerUser", {
          name: `${this.firstName} ${this.lastName}`,
          email: this.email,
          password: this.password,
          userRole: this.userRole
        })
        .then(() => {
          this.feedback = true;
          this.feedbackType = "info";
          this.feedbackMessage = "User Registration Successful.";
          this.resetAll();
        })
        .catch(() => {
          this.feedback = true;
          this.feedbackType = "warning";
          this.feedbackMessage = "User Registration Failed.";
        });
    },
    resetAll() {
      this.firstName = "";
      this.lastName = "";
      this.email = "";
      this.password = "";
      this.userRole = 3;
      this.adminPassword = "";
      setTimeout(() => {
        this.feedback = false;
        this.feedbackType = "";
        this.feedbackMessage = "";
      }, 1500);
    }
  },
  mounted() {
    this.globalSetupUsersPriviledge();
    this.fetchRolesList();
  }
};
</script>
