<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8"></base-header>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">New Generated Report</h3>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <base-table
                class="table align-items-center table-flush"
                tbody-classes="list"
                :data="newTableData"
              >
                <template slot="columns">
                  <th>
                    <span class="h5">Id</span>
                  </th>
                  <th>
                    <span class="h5">Name</span>
                  </th>
                  <th>
                    <span class="h5">Email</span>
                  </th>
                  <th>
                    <span class="h5">Phone Number</span>
                  </th>
                  <th>
                    <span class="h5">Company</span>
                  </th>
                </template>

                <template slot-scope="{row}">
                  <!-- <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" :src="row.img" />
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{row.title}}</span>
                      </div>
                    </div>
                  </th>-->

                  <td class="id">{{row.id}}</td>
                  <td class="name">{{row.name}}</td>
                  <td class="email">{{row.email}}</td>
                  <td class="phoneNum">{{row.phone}}</td>
                  <td class="company">{{row.company.name}}</td>
                </template>
              </base-table>
            </div>

            <div class="card-footer d-flex justify-content-end">
              <div @click="fetchNewUser">
                <base-pagination :total="50" :perPage="10" v-model="paginationValue"></base-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";
export default {
  data() {
    return {
      paginationValue: 1,
      newTableData: ""
    };
  },
  methods: {
    fetchNewUser() {
      console.log(this.paginationValue);
      this.$http
        .get(`http://localhost:3000/getUser?user=${this.paginationValue}`)
        .then(response => {
          console.log("Getting response");
          console.log(response.data);
          this.newTableData = [response.data];
        });
    },
    setData(data) {
      console.log("Called user report route update");
      this.newTableData = data;
    }
  },
  beforeRouteEnter(to, from, next) {
    console.log("WOrking from the routeEnter");
    axios.get(`http://localhost:3000/getUser?user=1`).then(response => {
      console.log("Getting route user response");
      console.log(response.data);
      let data = [response.data];
      next(vm => vm.setData(data));
    });
  }
};
</script>
<style>
</style>