<template>
  <div>
    <base-header
      class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
      style="min-height: 600px; background-image: url(img/theme/profile-cover.jpg); background-size: cover; background-position: center top;"
    >
      <!-- Mask -->
      <span class="mask bg-gradient-success opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello Jesse</h1>
            <p
              class="text-white mt-0 mb-5"
            >This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
            <base-button type="info" @click="enableForm">Edit profile</base-button>
          </div>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="img/theme/team-4-800x800.jpg" class="rounded-circle" />
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <base-button size="sm" type="info" class="mr-4">Connect</base-button>
                <base-button size="sm" type="default" class="float-right">Message</base-button>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">22</span>
                      <span class="description">Friends</span>
                    </div>
                    <div>
                      <span class="heading">10</span>
                      <span class="description">Photos</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Comments</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  Jessica Jones
                  <span class="font-weight-light">, 27</span>
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>Bucharest, Romania
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>University of Computer Science
                </div>
                <hr class="my-4" />
                <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
                <a href="#">Show more</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-8 order-xl-1">
          <card shadow type="secondary">
            <div slot="header" class="bg-white border-0">
              <div class="row align-items-center">
                <div class="col-2">
                  <h3 class="mb-0">My account</h3>
                </div>
                <div class="col-7">
                  <base-alert :type="feedbackType" class="p-2 d-inline" v-if="feedback">
                    <strong>{{feedbackMessage}}</strong>
                  </base-alert>
                </div>
                <div class="col-3 text-right">
                  <base-button
                    type="primary"
                    size="sm"
                    @click="cancelFormInput"
                    ref="cancelButton"
                  >Cancel</base-button>
                  <base-button
                    type="primary"
                    size="sm"
                    @click="saveProfileToDb"
                    ref="submitButton"
                  >Submit</base-button>
                </div>
              </div>
            </div>
            <template>
              <form @submit.prevent>
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <base-input
                        alternative
                        label="Username*"
                        placeholder="Username"
                        input-classes="form-control-alternative"
                        v-model="model.username"
                        ref="username"
                      />
                    </div>
                    <div class="col-lg-6">
                      <base-input
                        alternative
                        label="Email address*"
                        placeholder="jesse@example.com"
                        input-classes="form-control-alternative"
                        v-model="model.email"
                        ref="email"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <base-input
                        alternative
                        label="First name*"
                        placeholder="First name"
                        input-classes="form-control-alternative"
                        v-model="model.firstName"
                        ref="firstName"
                      />
                    </div>
                    <div class="col-lg-6">
                      <base-input
                        alternative
                        label="Last name*"
                        placeholder="Last name"
                        input-classes="form-control-alternative"
                        v-model="model.lastName"
                        ref="lastName"
                      />
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <base-input
                        alternative
                        label="Address"
                        placeholder="Home Address"
                        input-classes="form-control-alternative"
                        v-model="model.address"
                        ref="address"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <base-input
                        alternative
                        label="City"
                        placeholder="City"
                        input-classes="form-control-alternative"
                        v-model="model.city"
                        ref="city"
                      />
                    </div>
                    <div class="col-lg-4">
                      <base-input
                        alternative
                        label="Country"
                        placeholder="Country"
                        input-classes="form-control-alternative"
                        v-model="model.country"
                        ref="country"
                      />
                    </div>
                    <div class="col-lg-4">
                      <base-input
                        alternative
                        label="Postal code"
                        placeholder="Postal code"
                        input-classes="form-control-alternative"
                        v-model="model.zipCode"
                        ref="zipCode"
                      />
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">About me</h6>
                <div class="pl-lg-4">
                  <div class="form-group">
                    <base-input alternative label="About Me" ref="about">
                      <textarea
                        rows="4"
                        class="form-control form-control-alternative"
                        placeholder="A few words about you ..."
                        v-model="model.about"
                      ></textarea>
                    </base-input>
                  </div>
                </div>
              </form>
            </template>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";

export default {
  name: "user-profile",
  data() {
    return {
      model: {
        username: "",
        email: "",
        firstName: "",
        lastName: "",
        address: "",
        city: "",
        country: "",
        zipCode: "",
        about: "",
        userId: JSON.parse(localStorage.getItem("user")).id
      },
      feedback: false,
      feedbackMessage: "",
      feedbackType: ""
    };
  },
  methods: {
    saveProfileToDb() {
      if (
        this.model.username != "" &&
        this.model.email != "" &&
        this.model.firstName != "" &&
        this.model.lastName != ""
      ) {
        this.$http
          .post("http://localhost:3000/insertUserProfile", {
            profile: [
              this.model.userId,
              this.model.username,
              this.model.email,
              this.model.firstName,
              this.model.lastName,
              this.model.address,
              this.model.city,
              this.model.country,
              this.model.zipCode,
              this.model.about
            ]
          })
          .then(res => {
            console.log(res);
            this.feedback = true;
            this.feedbackType = "success";
            this.feedbackMessage = "User profile updated successfully";

            this.resetForm();
          });
      } else {
        this.feedback = true;
        this.feedbackType = "danger";
        this.feedbackMessage = "Error! Some required fields are empty";

        setTimeout(() => {
          this.feedback = false;
          this.feedbackType = "";
          this.feedbackMessage = "";
        }, 3000);
      }
    },
    resetForm() {
      setTimeout(() => {
        this.feedback = false;
        this.feedbackType = "";
        this.feedbackMessage = "";
      }, 3000);

      this.$refs.username.$el.children[1].disabled = true;
      this.$refs.email.$el.children[1].disabled = true;
      this.$refs.firstName.$el.children[1].disabled = true;
      this.$refs.lastName.$el.children[1].disabled = true;
      this.$refs.address.$el.children[1].disabled = true;
      this.$refs.city.$el.children[1].disabled = true;
      this.$refs.country.$el.children[1].disabled = true;
      this.$refs.zipCode.$el.children[1].disabled = true;
      this.$refs.about.$el.children[1].disabled = true;
      this.$refs.submitButton.$el.disabled = true;
      this.$refs.cancelButton.$el.disabled = true;
    },
    enableForm() {
      this.$refs.username.$el.children[1].disabled = false;
      this.$refs.email.$el.children[1].disabled = false;
      this.$refs.firstName.$el.children[1].disabled = false;
      this.$refs.lastName.$el.children[1].disabled = false;
      this.$refs.address.$el.children[1].disabled = false;
      this.$refs.city.$el.children[1].disabled = false;
      this.$refs.country.$el.children[1].disabled = false;
      this.$refs.zipCode.$el.children[1].disabled = false;
      this.$refs.about.$el.children[1].disabled = false;
      this.$refs.submitButton.$el.disabled = false;
      this.$refs.cancelButton.$el.disabled = false;
    },
    cancelFormInput() {
      let userId = JSON.parse(localStorage.getItem("user")).id;
      this.$http
        .post("http://localhost:3000/getUserProfile", {
          userId
        })
        .then(response => {
          this.setData(response.data);
          this.resetForm();
        });
    },
    setData(data) {
      console.log("checking");
      console.log(data);
      this.model.username = data[0].userName;
      this.model.email = data[0].email;
      this.model.firstName = data[0].firstName;
      this.model.lastName = data[0].lastName;
      this.model.address = data[0].address;
      this.model.city = data[0].city;
      this.model.country = data[0].country;
      this.model.zipCode = data[0].zipCode;
      this.model.about = data[0].about;
    }
  },
  beforeMount() {
    this.globalSetupUsersPriviledge();
  },
  beforeRouteEnter(to, from, next) {
    let userId = JSON.parse(localStorage.getItem("user")).id;

    axios
      .post("http://localhost:3000/getUserProfile", {
        userId
      })
      .then(response => {
        next(vm => vm.setData(response.data));
      });
  },
  mounted() {
    this.resetForm();
  }
};
</script>
<style></style>
